.contForm {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imgs/blue-form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
