@tailwind base;
@tailwind components;
@tailwind utilities;

.layoutRoot {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.fondo {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)),
    url(../imgs/fondo.jpg);
}
